name: Update Homebrew tap

on:
  push:
    tags: ["v*"]

jobs:
  bump-tap:
    runs-on: ubuntu-22.04

    steps:
      - name: Update Homebrew formula
        uses: dawidd6/action-homebrew-bump-formula@v7
        with:
          token: ${{ secrets.TAP_PAT }}
          tap: mad0x20wizard/homebrew-test
          formula: test-sharp
          no_fork: true